.content {
    width: 100%;
}

.logo {
    width: 100%;
    display: flex;
    padding-left: 50px;
}

.logo img {
    max-width: 350px;
}

.posts-box {
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.posts-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.posts {
    flex-flow: wrap;
    display: flex;
    justify-content: center;
}

.cards {
    margin: 15px;
    text-align: left;
}

.custom-chip {
    position: absolute;
    top:10px;
    left: 10px;
}

.custom-chip.back {
    background-color: #fdd329;
    border-color: #fdd329;
    color: white;
}

.custom-chip.front {
    background-color: #ff914d;
    border-color: #ff914d;
    color: white;
}

.custom-chip.others {
    background-color: #ff3131;
    border-color: #ff3131;
    color: white;
}